<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Status</div>
      <div class="item item-body">
        <div>
            <button class="button button-positive" ng-click="checkStatus()">
                Check Status
            </button>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Print Test</div>
      <div class="item item-body">
        <div>
            <button class="button button-positive" ng-click="printHelloworld()">
                Print Hello World
            </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
